**/node_modules/*
**/.serverless/*
**/.build/*
**/buckets/*
**/build/*
**/coverage/*
**/.dynamodb/*
**/.env.local
**/.env.debug
**/.s3/*
**/.vs
**/.idea/*
**/test-report.xml
**/.coverage
**/venv
**/lib
core
**/*.log
**/.webpack/*

